@import "tailwindcss";


:root {
  --primary: #161616;
  --secondary: #e63e21;
  --text-primary: #ffffff;    
  --text-secondary: #C0C0C0; 
  --bg-primary: #1B1B1B;
  --border-primary: #262626;
  --hover-primary: #605959;
  --hover-secondary: #E4643F;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-bg-primary: var(--bg-primary);
  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);

  --color-hover-primary: var(--hover-primary);
  --color-hover-secondary: var(--hover-secondary);

  --font-myFont: var(--font-myFont);
  --font-inter: var(--font-inter);

}



body {
  font-family: var(--font-myFont), sans-serif;
}