@import "tailwindcss";


:root {
  --primary: #e63e21;
  --secondary: #161616;
  --accent: #e63e21;    
  --color-bg: #161616;      
  --text-primary: #ffffff;    
  --color-muted: #999999; 
}

@theme inline {
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --color-text-primary: var(--text-primary);
  --font-inter: var(--font-inter);
  --font-myFont: var(--font-myFont);
}


